<app-header></app-header>

<div class="container" *ngIf="gameWon || gameLost">

  <div class="row" *ngIf="gameWon">
    <div class="col-md-12">
      <div class="text-center">
        <h1 style="color: green">YOU WON!</h1>
        <img src="assets/winner.gif">
      </div>
    </div>
  </div>

  <div class="row" *ngIf="gameLost">
    <div class="col-md-12">
      <div class="text-center">
        <h1 style="color: red">GAME OVER, LOSER!</h1>
        <img src="assets/loser.gif">
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary" (click)="resetGame()">Reset Game</button>
    </div>
  </div>

</div>

<div class="container" *ngIf="!gameWon && !gameLost">

  <div class="row">
    <div class="col-md-12">
      <app-hangman [failedAttempts]="incorrectGuesses.length"></app-hangman>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-puzzle [puzzle]="puzzleSolution" [solvedLetters]="correctGuesses"></app-puzzle>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <app-letter-guess (guess)="onGuessMade($event)"></app-letter-guess>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <app-guesses [wrongLetters]="incorrectGuesses"></app-guesses>
    </div>
  </div>

</div>
