<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <input type="text" (input)="onGuessChange($event)" [value]="currentGuess" name="" class="form-control">
  </div>
</div>

<div class="alert text-center" style="color: red" *ngIf="errorMessage">
    <strong>Error</strong> {{ errorMessage }}
  </div>

<div class="row">
  <div class="text-center">
    <button type="button" class="btn btn-primary" (click)="onGuessPressed()" [disabled]="!currentGuess || currentGuess.length != 1">Guess</button>
  </div>
</div>



